* {
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  font-family: "latoblack";
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.box-content {
  overflow: hidden;
}

.filter-sort {
  height: 132px;
  box-sizing: border-box;
  padding-top: 39px;
  position: relative;
  display: flex;
  gap: 30px;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  z-index: 10;
}
.filter[open] {
  background-color: white;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__content {
  background-color: #fff;
  padding: 0px 16px 16px;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter__heading {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.filter__item {
  margin-top: 16px;
}
.filter__item__heading {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 8px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__item[open] .filter__item__heading {
  color: #F16D7F;
}
.filter__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.filter__link__box {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.filter__link:hover {
  color: #F16D7F;
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__heading {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
}
.sort__check__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6f6e6e;
}
.sort__details {
  position: relative;
}

.header {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}

#burger {
  position: absolute;
  left: -99px;
  visibility: hidden;
}
#burger:checked ~ .nav {
  right: -232px;
}

.nav {
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 80px;
  right: 0;
  transition: right 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.top-head {
  background: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-head__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumbs__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__link_site {
  font-weight: 700;
  color: #F16D7F;
}

.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.header, .header__left {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 360px;
  display: flex;
  flex-direction: column;
}
.product__img {
  width: 100%;
}
.product__content {
  background-color: #F8F8F8;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product__name {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.product__text {
  font-family: "latolight";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}
.product__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}/*# sourceMappingURL=style.css.map */