@import 'vars';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.box-content {
    overflow: hidden;
}

.filter-sort {
    height: 132px;
    box-sizing: border-box;
    padding-top: 39px;
    position: relative;
    display: flex;
    gap: $gapGrid;
}

.filter {
    padding-top: 13px;
    width: 360px;
    box-sizing: border-box;
    user-select: none;
    position: relative;
    z-index: 10;

    &[open] {
        background-color: white;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)
    }

    &[open] .filter__heading {
        color: $colorSelectSite;
    }

    &[open] path {
        fill: $colorSelectSite;
    }

    &__content {
        background-color: #fff;
        padding: 0px 16px 16px;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
    }

    &__heading {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $colorText;
    }

    &__item {
        margin-top: 16px;

        &__heading {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
            padding: 8px 11px 11px;
            border-bottom: 1px solid #EBEBEB;
            border-left: 5px solid $colorSelectSite;
        }

        &[open] &__heading {
            color: $colorSelectSite;
        }
    }

    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;

        &__box {
            padding: 24px 16px;
            display: flex;
            flex-direction: column;
            gap: 11px;
        }

        &:hover {
            color: $colorSelectSite;
        }
    }
}

.sort {
    padding-top: 12px;
    display: flex;
    gap: 18px;

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__heading {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6f6e6e;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: #fff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;
    }

    &__check {
        display: flex;
        gap: 9px;
        align-items: center;

        &__text {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #6f6e6e;
        }
    }

    &__details {
        position: relative;
    }
}

.header {
    background-color: $backBlock;
    padding-top: 20px;
    padding-bottom: 20px;
    @extend %flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &__left {
        display: flex;
        align-items: center;
        gap: 41px;
        @extend %flex;
    }
}

#burger {
    position: absolute;
    left: -99px;
    visibility: hidden;

    &:checked~.nav {
        right: -232px;
    }
}

.nav {
    background: #fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 232px;
    padding: 32px;
    box-sizing: border-box;
    position: absolute;
    top: 80px;
    right: 0;
    transition: right 0.3s;
    user-select: none;
}

.top-head {
    background: #F8F3F4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $colorSelectSite;
    }
}

.breadcrumbs__link {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;

    &_site {
        font-weight: 700;
        color: $colorSelectSite;
    }
}

.product-box {
    @include centerflex();
    gap: $gapGrid;
}

%flex {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: $thirdSite;
    display: flex;
    flex-direction: column;

    &__img {
        width: 100%;
    }

    &__content {
        background-color: #F8F8F8;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__name {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $colorText;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5d5d5d;
    }

    &__price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $colorSelectSite;
    }
}